
<h1> <%= search_result.count_order_members%> Order Members </h1>

    <% search_result.order_members.each do |member| %>
<section class="order">
      <p class="name"><%=member.name %></p>
      <p class="role"><%=member.role if member.role != nil %></p>
      <p class="house"><%=member.house %></p>
      <p class="patronus"><%=member.patronus if member.patronus != nil %></p>
</section>
    <%end %>
